body {
  margin: 0;
  background-color: lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;

  color: white;
  font-family: "Jersey 10";
  font-style:normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jersey10/v3/GftH7vZKsggXMf9n_J5n_5jh.woff2)
    format("woff2");
}

/*PANTALLA DE INICIO*/
#start-screen {
  position: relative;
  background-image: url("../images/bgStartGame.avif");
  background-color: darkgray;

  width: 800px;
  height: 500px;

  background-position: center;
  background-size: cover;
}

#main-title {
  font-size: 90px;
  margin: 10px;
}

#teclas {
  position: absolute;
  top: 115px;
  right: 540px;
  border: 5px;
  border-radius: 10px;
  border-width: 1px;
  background-color: rgba(42, 44, 153, 0.645);
}

#teclas p {
  margin: 5px;
  font-family: "Jersey 15";
  font-style:normal;
  font-weight: 100;

}

#teclas img {
  margin-left: 45px;
  margin-top: 5px;
}

#instructions {
  background-color: rgba(42, 44, 153, 0.645);
  font-size: 17px;
  padding: 10px;
  border: 5px;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
}

#instructions h3 {
  color: white;
  font-weight: 300;
  font-size: 35px;
  margin: 5px;
  text-align: center;
}

#instructions p {
  margin: 5px;
  font-family: "Jersey 15";
  font-style:normal;
  font-weight: 100;
}

#instructions ul {
  list-style-type: none;
  text-align: start;
  font-family: "Jersey 15";
  font-style:normal;
  font-weight: 100;

}


#start-button {
  background-color: rgb(206, 141, 255);
  border-radius: 10px;
  cursor: pointer;
  padding: 0;
  margin: 15px;
  width: 130px;
  height: 50px;
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/jersey10/v3/GftH7vZKsggXMf9n_J5n_5jh.woff2)
    format("woff2");
  font-size: 40px;
}

#lifes {
  position: absolute;
  top: 10px;
  right: 20px;
}

#lifes img {
  width: 130px;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}



/*PANTALLA DEL JUEGO*/

#game-screen,
#gameover-screen {
  display: none;
}

#game-box {
  background-color: darkgray;
  width: 800px;
  height: 600px;

  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url("../images/forest3.jpg");
  background-position: center;
  background-size: cover;

  border: 2px solid black;
}

#vidas-container {
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 15px;
  position: absolute;
  top: 10px;
  left: 655px;
  padding: 1px;
}

.vida {
  width: 35px;
  height: 32px;
  margin: 3px;
  z-index: 999;
}

#score-container {
  position: absolute;
  top: 550px;
  left: 360px;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 10px;
}

#score-container h3 {
  margin: 5px;
  font-size: 30px;
}


#musica-boton {
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 5px;

  width: 40px;
  height: 35px;
  margin: 3px;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 5px;
}

/*PANTALLA GAME OVER*/

#gameover-screen {
  background-color: darkgray;
  color: white;
  width: 800px;
  height: 500px;

  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url("../images/bgGameOver.webp");
  background-position: center;
  background-size: cover;
  border: 2px solid black;
}

#gameover-screen h2 {
  position: relative;
  font-size: 100px;
  margin: 10px;
  bottom: 85px;
  right: 0px;
}

#gameover-screen h3 {
  position: relative;
  color:  rgb(206, 141, 255);
  font-size: 45px;
  margin: 10px;
  bottom: 70px;
  right: 0px;
}

#final-score {
  position: relative;
  bottom: 70px;
  right: 0px;
  font-size: 30px;
  background-color: rgba(206, 141, 255, 0.308);
  padding: 10px;
  border-radius: 10px;
}

#endingButtons-container {
  position: relative;
  margin: 10px;
  bottom: 60px;
  right:10px;


}

#endingButtons-container button {
  color: white;
  background-color: rgba(206, 141, 255, 0);
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jersey10/v3/GftH7vZKsggXMf9n_J5n_5jh.woff2)
    format("woff2");
  font-size: 30px;
  border-radius: 5px;
}

#restart-button {
  margin-right: 20px;
  cursor: pointer;
}

#start-screen-button {
  margin-left: 20px;
  cursor: pointer;
}
