body {
  margin: 0;
  background-color: lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;

  color: white;
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jersey10/v3/GftH7vZKsggXMf9n_J5n_5jh.woff2)
    format("woff2");
}

/*PANTALLA DE INICIO*/

#main-title {
  font-size: 90px;
  margin: 10px;
}

#teclas {
  position: absolute;
  top: 115px;
  right: 590px;
  border: 5px;
  border-radius: 10px;
  border-width: 1px;
  background-color: rgba(42, 44, 153, 0.645);
}

#teclas p {
  margin: 5px;
}

#teclas img {
  margin-left: 45px;
  margin-top: 5px;
}

#instructions {
  background-color: rgba(42, 44, 153, 0.645);
  font-size: 17px;
  padding: 10px;
  border: 5px;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
}

#instructions h3 {
  color: white;
  font-weight: 300;
  font-size: 30px;
  margin: 5px;
  text-align: center;
}

#instructions p {
  margin: 5px;
}

#instructions ul {
  list-style-type: none;
  text-align: start;
}

#start-button {
  background-color: rgb(206, 151, 249);
  border-radius: 10px;
  cursor: pointer;
  padding: 0;
  margin: 15px;
  width: 130px;
  height: 50px;
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/jersey10/v3/GftH7vZKsggXMf9n_J5n_5jh.woff2)
    format("woff2");
  font-size: 40px;
}

#lifes {
  position: absolute;
  top: 10px;
  right: 20px;
}

#lifes img {
  width: 130px;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#start-screen {
  position: relative;
  background-image: url("../images/background.sky.avif");
  background-color: darkgray;

  width: 800px;
  height: 500px;

  background-position: center;
  background-size: cover;
}

/*PANTALLA DEL JUEGO*/

#game-screen,
#gameover-screen {
  display: none;
}

#game-box {
  background-color: darkgray;
  width: 800px;
  height: 600px;

  display: flex;
  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url("../images/background-forest.png");
  background-position: center;
  background-size: cover;

  border: 2px solid black;
}

#game-box * {
  pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
}

#vidas-container {
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 15px;
  position: absolute;
  top: 65px;
  left: 970px;
  display: flex;
  padding: 5px;
}

.vida {
  width: 35px;
  height: 32px;
  margin: 3px;
}

#score-container {
  position: absolute;
  top: 610px;
  left: 680px;
  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 10px;
}

#score-container h3 {
  margin: 5px;
  font-size: 25px;
}

/*PANTALLA GAME OVER*/

#gameover-screen {
  background-color: darkgray;
  color: white;
  width: 800px;
  height: 500px;

  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url("../images/gameOver.webp");
  background-position: center;
  background-size: cover;
  border: 2px solid black;
}

#gameover-screen h2 {
  font-size: 100px;
  margin: 10px;
}

#gameover-screen h3 {
  font-size: 50px;
  margin: 10px;
}

#gameover-screen h4 {
  position: relative;
  font-size: 30px;
  bottom: 60px;
}
